.instagram{

    background-color: white;
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 0px;

}

.name {

    background-color: white;
   
    
}
.fondo{
    background-color: rgb(231, 223, 223);
}

h1{

    text-align: center;
}

p.post-title{

     font-weight: bold;
     display: flex;
     justify-content: left;
     padding: 6px;
      
}
.date{
    display: flex;
    justify-content: flex-end;
}